<h2>Show articles</h2>
<% alias Phoenix.HTML %>
<ul>

  <li>
    <strong>Title:</strong>
    <%= @articles.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= raw(@articles.body) %>
  </li>

</ul>

<%= link "Back", to: articles_path(@conn, :index) %>
